@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(images/bg.png) no-repeat;
} 
a{
    text-decoration: none;
    color: inherit;
}


/* 상단 메뉴 */
header{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;  
    margin:  0 auto;
}
.header_box{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}
.header_btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    background-color: #eee;
}

.header_box :hover{
	background-color: rgba( 255, 255, 255, 0.5 );
	cursor: pointer;
} 

header p{
    margin: 0;
}

/* info box */
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #292929;
    /* overflow: hidden; */

}
.title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: #000000;
    font-weight: 800;
    cursor: default;
    padding: 15px 10px;
}
.seat_number{
    margin-right: 10%;
}
.title.active{
	cursor: move;
}
.title p{
    color: #fff;
}
.pc_number{
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}
.pc_number a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 30%;
    height: 70%;
    border: 1px solid #eee;
}
.seat_number > p{
    margin-left: 10px;
    color: #777;
    font-size: 15px;
}
.seat_number > p > span{
    color: #ebebeb;
    font-weight: 500;
    font-size: 20px;
}

.username{
    position: relative;
    display: flex;
    background-color: #000000;
    width: 100%;
    height: 30px;
    color: #cdcdcd;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.time_wrap{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.time_wrap div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 90%;
    background-color: #343434;
    color: #fff;
}

.consumption{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
}
.consumption div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    width: 24%;
    height: 85%;
    border-radius: 5px;
    background-color: rgb(77, 113, 179);
    font-size: 13px;
    color: #eee;
}
.consumption a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.consumption img{
    width: 30px;
}
.consumption .naverpay{
    background-color: #1EC800;
}
.consumption .kakaopay{
    background-color: #FEE500;
}
.consumption .kakaopay img{
    width: 50px;
}

.service{
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.service a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 80%;
    background-color: #343434;
    color: #eee;
}

/* 게임메뉴 */
.game_menu_wrap{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.game_menu{
    position: relative;
    display: block;
    width: 20%;
    text-align: center;
    color: #eee;
    font-size: 10px;
}
.game_menu div{
    position: relative;
    display: block;
    padding: 3px;
}
.game_menu div:first-child{
    padding: 0px 3px 3px 3px;
}
.game_menu div img{
    width: 75%;
    border-radius: 10px;
}

.advertisement{
    position: relative;
    display: block;
    width: 80%;
}
.main_advertisement{
    position: relative;
    display: block;
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-right: 12px;
}
.main_advertisement img{
    position: relative;
    display: block;
    width: 100%;
    
}
.sub_advertisement{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:95%;
    margin: 0 auto;
    margin-top: 35px;
    margin-right: 12px;
}
.sub_advertisement img{
    position: relative;
    display: block;
    width: 47%;
}
.information{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
}
.information a{
    position: relative;
    display: block;
    width: 31%;
    background-color:#343434;
    color: #eee;
    font-size: 9px;
    padding: 3px 0px;
}