<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.itbank.model.dto.TicketSalesDTO" alias="ticketsales"/>
        <typeAlias type="com.itbank.model.ProductDTO" alias="product"/>
        <typeAlias type="com.itbank.model.ProductCategory" alias="productCategory"/>
        <typeAlias type="com.itbank.model.Product" alias="productEntity"/>
        <typeAlias type="com.itbank.model.Payment" alias="payment"/>
        <typeAlias type="com.itbank.model.dto.SeatInfoDTO" alias="seatinfo"/>
    </typeAliases>
</configuration>

