<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace는 연결할 dao 인터페이스의 "풀네임"을 작성한다. -->
<mapper namespace="com.itbank.repository.mybatis.ProductSalesDAO">
    <select id="proSalesAllSelect" resultType="productsales" parameterType="map">
        SELECT
        s.id as id,
        s.totalPrice as orderTotalPrice,
        p.time as salesDate,
        u.username as username,
        p.id as paymentId,
        t.name as productName
        FROM
        product_sales s
        JOIN
        payment p ON s.PAYMENT_ID = p.id
        JOIN
        payment_method m ON m.id = p.PAYMENTMETHOD_ID
        JOIN
        order_list o ON p.id = o.PAYMENT_ID
        JOIN
        users u ON u.id = o.USER_ID
        JOIN
        order_detail d ON d.PAYMENT_ID = p.id
        JOIN
        product t ON d.product_id = t.id
        <if test="startDate != null and startDate != ''">
            AND p.time &gt;= TO_DATE(#{startDate},'yyyy-MM-dd')
        </if>
        <if test="endDate != null and endDate != ''">
            AND p.time &lt;= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 1
        </if>
        order by salesDate DESC
    </select>

</mapper>