<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace는 연결할 dao 인터페이스의 "풀네임"을 작성한다. -->
<mapper namespace="com.itbank.repository.mybatis.TicketSalesDAO">

    <select id="selectAll" resultType="ticketsales" parameterType="map">


        SELECT
        s.id as id,
        s.totalPrice as orderTotalPrice,
        p.time as salesDate,
        u.username as username,
        p.id as paymentId,
        t.name as ticketName
        FROM
        ticket_sales s
        JOIN
        payment p ON s.PAYMENT_ID = p.id
        JOIN
        payment_method m ON m.id = p.PAYMENTMETHOD_ID
        JOIN
        order_list o ON p.id = o.PAYMENT_ID
        JOIN
        users u ON u.id = o.USER_ID
        JOIN
        ticket_detail d ON d.PAYMENT_ID = p.id
        JOIN
        ticket t ON d.TICKET_ID = t.id
        where

        <if test="startDate != null and startDate != ''">
            AND  p.time &gt;= TO_DATE('2023-11-01','yyyy-MM-dd')
        </if>
        <if test="endDate != null and endDate != ''">
            AND and p.time &lt;= TO_DATE('2023-11-08','yyyy-MM-dd')+1
        </if>
        order by salesDate DESC
    </select>

    <select id="selectTotal" resultType="int">
        select sum(s.totalprice) as orderTotalPrice
        from
        ticket_sales s,
        payment p,
        order_list o
        where s.payment_id=p.id and p.id=o.payment_id
    </select>

    <!--    <select id="select" resultType="ticketsales">-->
    <!--        -->
    <!--    </select>-->

</mapper>